/* You can add global styles to this file, and also import other style files */

body {
    margin-bottom: 50px;
    height: 100vh;
    width: 100%;
}

.fadeOut {
    animation: fadeOut 1s ease-out 0s 1 normal forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.5s ease-out 0s 1 normal forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }